---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import Layout from "../../layouts/Layout.astro";
import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { id: book.id },
    props : { book },
  }));
}

const { book }     = Astro.props;
const { data, id } = book;
const { title, author, img, readtime, description, buy } = data;

const { Content } = await render(book);

export const prerender = true;
---

<Layout>
  <div class="flex justify-center gap-12 mt-10">
    <aside class="flex flex-col items-center gap-4">
      <a href="/" class="hover:underline opacity-70">Regresar</a>
      <img
        transition:name={`img-${id}`}
        src={`/img/${img}`}
        alt={title}
        class="w-72 rounded h-auto"
      />
      <BookScore server:defer id={id}>
        <span class="text-xs opacity-70" slot="fallback">
          Cargando puntuación...
        </span>
      </BookScore>

      {
        SHOW_BUY_BUTTON && (
          <a
            href="/"
            title="Comprar libro"
            target="_blank"
            rel="noopener noreferrer"
            class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500 active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500 transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
          >
            Comprar en Amazon
            <AmazonLogo />
          </a>
        )
      }
    </aside>

    <main class="max-w-xl">
      <h1 transition:name={`title-${id}`} class="text-4xl font-bold mb-4">
        {title}
      </h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
